
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="index.css" />
  <title>TalentSync</title>
</head>
<style>
  body {
    scroll-behavior: smooth;
  }
</style>

<body>
  <header class="header">
    <div class="header_wrapper wrapper">
      <div class="header_left">
        
        <ul class="header_left_list">
          <li class="header_left_list_item">
            Find Talent
            <img src="dropdown.svg" alt="" />
          </li>
          <li class="header_left_list_item">
            Find Work
            <img src="dropdown.svg" alt="" />
          </li>
          <li class="header_left_list_item" id="whycine">
            Why TalentSync
            <img src="dropdown.svg" alt="" />
          </li>
          <li class="header_left_list_item">Enterprise</li>
        </ul>
      </div>
      <div class="header_right">

        <div class="header_right_btns">
          <a href="{%url 'login' %}"><button class="btn_primary">Log In</button></a>
          <a href="{%url 'registration' %}"><button class="btn_secondary">Sign Up</button></a>
        </div>
      </div>
    </div>
  </header>
  <section class="section_1 wrapper">

    </div>
    <div class="sectin_1_bottom">
      <div class="section_1_bottom_left">
        <h1 class="title-1">
          Talent And<br />
          Opportunity
        </h1>
        <h3 class="title-3">
          Forget the old rules. You can have the best people.<br />
          Right now. Right here.
        </h3>
        <div class="section_1_bottom_left_btns">
          <button class="btn_secondary">Find Talent</button><button class="btn_secondary_outline">Find Work</button>
        </div>

      </div>
      <div class="section_1_bottom_right">
        <img src="image-1.jpg" alt="" />
      </div>
    </div>
  </section>
  <section class="section_2 wrapper">
    <div class="section_2_header">
      <h3>Browse talent by category</h3>
      <div>
        <p>Looking for work?</p>
        <a href="#"> Browse jobs</a>
      </div>
    </div>
    <div class="section_2_categories">
      <div class="section_2_categories_tile">
        <h4>Development & IT</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>AI Services</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Design & Creativity</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Editing</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Sales & Marketing</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Writing & Translation</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Admin & Customer Support</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Finnace and Accounting</h4>
      </div>

      <div class="section_2_categories_tile">
        <h4>Engerring and Architecture</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Production Executive</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Technical unit</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>AI and Machine Learning</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Production Assistance</h4>
      </div>
      <div class="section_2_categories_tile">
        <h4>Data Analysis & testing</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>product Designing</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>photography</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>video animation</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>Game desighn and Development</h4>

      </div>
      <div class="section_2_categories_tile">
        <h4>mobile Development</h4>

      </div>
      
    </div>
  </section>
  <section class="section_3 wrapper">
    <div class="section_3_left">
      <div class="section_3_left_header">
        <h3>For enterprise</h3>
        <h1>
          Scale with<br />
          Enterprise Suite
        </h1>
        <span>
          A fast and secure way to achieve long-term success for your
          <br />business goals.
        </span>
      </div>

      <div class="section_3_left_details">
        <div>
          <img src="Skills.svg" alt="skills" />
          <p>Access expert talent to fill your skill gaps</p>
        </div>
        <div>
          <img src="Briefcase.svg" alt="briefcase" />
          <p>Control your workflow: hire, classify and pay your talent</p>
        </div>
        <div>
          <img src="Support.svg" alt="support" />
          <p>Partner with TalentSync for end-to-end support</p>
        </div>
      </div>
      <div class="section_left_btn">
        <button class="btn_primary">Learn More</button>
      </div>
    </div>
    <div class="section_3_right">
      <img src="illustration (1).png" alt="enterprise" />
    </div>
  </section>
  <section class="section_4 wrapper">
    <div class="section_4_background_img">
      <img src="card-img.jpg" alt="find_talent" />
    </div>
    <div class="section_4_body">
      <div class="section_4_body_row_1">
        <h4>For Clients</h4>
        <h1>
          Find talent <br />
          your way
        </h1>
        <h4 style="position: absolute; top:50%; left:5%">Get started</h4>
      </div>

      <div class="section_4_body_row_2">
        <h5>
          Work with the largest network of independent<br />
          professionals and get things done—from quick <br />turnarounds to
          big transformations.
        </h5>
      </div>
      <div class="section_4_body_row_4">
        <div class="section_4_body_row_4_card">
          <button>
            <span>
              Post a job <br />
              and hire a pro
            </span>
            <span>Talent Marketplace

            </span>
          </button>
        </div>
        <div class="section_4_body_row_4_card">
          <button>
            <span>
              Browse and <br />
              buy projects
            </span>
            <span>Project Catalog

            </span>
          </button>
        </div>

        <div class="section_4_body_row_4_card">
          <button>
            <span>
              Let us help you find <br />
              the right talent
            </span>
            <span>Talent Scout

            </span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section_5 wrapper">
    <div class="section_5_left">
      <div class="section_5_left_info">
        <h1 class="section_5_left_info_title">
          Why businesses<br />
          turn to TalentSync
        </h1>

        <div class="section_5_left_info_item">
          <div class="section_5_left_info_item_left">
            <img src="star.jpg" alt="" />
          </div>
          <div class="section_5_left_info_item_right">
            <h3>Proof of quality</h3>
            <p>
              Check any pro’s work samples, client reviews, and <br />identity
              verification.
            </p>
          </div>
        </div>
        <div class="section_5_left_info_item">
          <div class="section_5_left_info_item_left">
            <img src="dollar.jpg" alt="" />
          </div>
          <div class="section_5_left_info_item_right">
            <h3>No cost until you hire</h3>
            <p>
              Interview potential fits for your job, negotiate rates, and<br />
              only pay for work you approve.
            </p>
          </div>
        </div>
        <div class="section_5_left_info_item">
          <div class="section_5_left_info_item_left">
            <img src="tick.jpg" alt="" />
          </div>

          <div class="section_5_left_info_item_right">
            <h3>Safe and secure</h3>
            <p>
              Focus on your work knowing we help protect your data<br />
              and privacy. We’re here with 24/7 support if you need it.
            </p>
          </div>
        </div>
      </div>
      <div class="section_5_left_img">
        <img src="illustration (2).png" alt="" />
      </div>
    </div>
    <div class="section_5_right">
      <div class="section_5_right_info">
        <h3>
          We<br />
          Find people's<br />
          True talent.

        </h3>
        <div class="section_5_right_info_item">

          <div>
            <p>Experince doesn't matter.</p>
          </div>
        </div>
        <div class="section_5_right_info_item">

          <div>
            <p>Get experince by working with professionals</p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_6 wrapper">
    <div class="section_6_left">
      <img src="illustration (3).png" alt="" />
    </div>
    <div class="section_6_right">
      <div class="section_6_right_top">
        <h3>For talent</h3>
        <h1>
          Find great<br />
          work
        </h1>
        <p>
          Meet clients you’re excited to work with and take <br />your career
          or business to new heights.
        </p>
      </div>
      <div class="section_6_right_middle">
        <p id="text-1">
          Find opportunities<br />
          for every stage of<br />
          your freelance<br />
          career
        </p>
        <p>
          Control when,<br />
          where, and how <br />you work
        </p>
        <p>
          Explore different<br />
          ways to earn
        </p>
      </div>
      <div class="section_6_right_bottom">
        <button class="btn_primary">Find Opportunities</button>
      </div>
    </div>
  </section>

  <footer class="footer" id="footer">

    <div class="wrapper">
      <div class="about">
        <h1>About us</h1>
        <p>Welcome to TalentSync,where talent meets opportunity in the digital world. We believe in empowering freelancers to showcase their skills and connect with clients worldwide, creating a dynamic ecosystem of collaboration and success.
          At TalentSync, we understand the evolving nature of work and the importance of flexibility. Whether you're a seasoned professional or just starting your freelancing journey, our platform provides a space for you to thrive.
          We offer a diverse range of projects across various industries, giving you the freedom to choose work that aligns with your passions and expertise.
          For clients, we offer a streamlined process to find top talent for their projects. Our platform connects you with skilled freelancers who can deliver high-quality results, ensuring that your projects are completed efficiently and effectively.
          With a commitment to transparency, security, and excellence, TalwntSync is more than just a marketplace – it's a community of talented individuals and forward-thinking businesses coming together to achieve their goals.
          Join us today and unlock endless possibilities in the world of freelancing.
        </p>
        <h1>Our Mission</h1>
        <p>Our mission at TalentSync is to empower freelancers worldwide by providing a dynamic and inclusive platform where they can showcase their skills, find meaningful opportunities, and build successful careers on their terms. 
          We are committed to fostering a vibrant community of talent and facilitating seamless connections between freelancers and clients, enabling them to collaborate effectively and achieve their goals. 
          With a dedication to innovation, transparency, and excellence, we strive to redefine the future of work and create a world where freelancers can thrive and succeed."
        </p>
      </div>
      <div class="footer_top">
        <div class="footer_top_list">
          <h5>Links</h5>
          <ul>
            <li><a href="{%url 'index' %}">Home</a></li>
            <li><a href="{%url 'login' %}">Login</a></li>
            <li><a href="{%url 'registration' %}">Signup</a></li>
            <li><a href="{%url 'index' %}">Categories</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Mission</a></li>

          </ul>
        </div>
        <div class="footer_top_list">
            <h1>Resources</h1>
            <ul>
              <li>Community</li>
              <li>Help & Support</li>
              <li>Success Stories</li>
              <li>Free Business tools</li>
            </ul>
          </div>
        <div class="footer_top_list">
          <h1>Developed by</h1>
          <ul>
            <li>Swagat Thakur</li>
            <li>Nitish Shewale</li>
            <li>Snehal Mohite</li>
            <li>Anushka Tilay</li>
          </ul>
        </div>


      </div>

      <div class="footer_bottom">
        <p>Copyright @2024 | Designed by HTML CSS JavaScript  | CSE Batch2024 SANS</p>
      </div>
    </div>
  </footer>
  <script>
    document.querySelector('#whycine').addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector('#footer').scrollIntoView({ behavior: 'smooth' });
    });

  </script>
</body>

</html>